<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Template</title>
        <link rel="stylesheet" href="css/template2.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Source+Sans+Pro:400,400i" rel="stylesheet">
    <body>
        <div class="page">
            <div class="section row">
                <h1 class="col"><span style="font-weight:700">{{firstName}}</span> {{lastName}}</h1>
                <div class="contact-info col-right">
                    <div><a href="Tel:xxx-xxx-xxxx">{{Tel}}</a></div>
                    <div><a href="mailto:emailAddress@mail.com">{{email}}</a></div>
                    <div><a href="http://personalWebsite.com">{{personalWebsite}}</a></div>
                </div>
            </div>

            <!-- Personal Statement -->
            <div class="section row">
                <h2 class="col">Personal Statement</h2>
                <div class="section-text col-right">
                <div>Description: <p>{{skill.desc}}</p>
                </div>
                </div>
            </div>

            <!-- Education Section -->
            <div class="section row">
                <h2 class="col">Education</h2>
                  {% for edu in education %}
                <div class="section-text col-right">
                    <h3><span class="emph">{{Degree type}}</span> {{in Major}}</h3>
                    <h4>{{Name of the University}}</h4>
                    <div class="row">
                        <div class="col light"><p>{{city.desc}} - {{country.desc}}</p></div>
                        <div class="col-right light"><p>{{From.desc}} - {{To.desc}}</p></div>
                    </div>
                </div>
                  {% endfor %}

            </div>

            <!-- Experience Section -->
            <div class="section row">
                <h2 class="col">Experience</h2>
                <div class="section-text col-right">
                  {% for exp in experience %}
                    <div class="row">
                        <div class="col">
                            <h4>{{Name of the Company}}</h4>
                        </div>
                    </div>
                    <div class="row subsection">
                        <div class="emph col"><p>{{JobTitle.desc}}</p></div>
                        <div class="col-right light"><p>{{From.desc}} - {{To.desc}}</p></div>
                    </div>
                    <div>Description:<p>{{skill.desc}}</p>
                    </div>
                  {% endfor %}
                </div>

            </div>

            <!-- Skills -->
            <div class="section row">
                <h2 class="col">Skills</h2>
                <div class="section-text col-right">
                    {% for skill in skills %}
                        <div class="talent">
                            <h4>{{skill.name}}</h4>
                            <p>{{skill.desc}}</p>
                        </div>
                    {% endfor %}


                </div>
                  <!-- <span class="key">Skill1</span> <span class="key">Skill2</span> <span class="key">Skill3</span> <span class="key">Skill4 &amp; Skill5</span> <span class="key">Skill6</span> </div> -->
            </div>

            <!-- Links -->
            <div class="section row">
                <h2 class="col">Links</h2>
                <div class="section-text col-right">
                    <h3><a href="https://github.com/">{{GitHub}}</a></h3>
                    <h3><a href="https://www.linkedin.com">{{LinkedIn}}</a></h3>
                </div>
            </div>


        </div>
    </body>
</html>
